# Simple Data Analysis

This notebook demonstrates basic data analysis with Python.

In [1]:
import pandas as pd

## Loading Data

Let's create a simple dataset.

In [2]:
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Score': [85, 90, 95]}
df = pd.DataFrame(data)
df

      Name  Age  Score
0    Alice   25     85
1      Bob   30     90
2  Charlie   35     95

In [3]:
mean_score = df['Score'].mean()
print(f"Mean score: {mean_score}")

Mean score: 90.0